<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<div class="panel panel-info panel-info-custom" style="max-width: 500px;text-align: center;margin:auto">
  <div class="panel-heading">
    <h3 class="panel-title">Règles du jeu</h3>
  </div>
  <div class="panel-body">
   <p>Vous possédez 15 bactéries de chaque classes (rouge,
			verte,jaune,bleu).</p>
		<br />
		<p>Vous devez choisir où placer vos bactéries sur le plateau.</p>
		<br />
		<p>A chaque tour, les bactéries vont se multiplier si les
			conditions leurs sont favorables.</p>
		<br />
  </div>
</div>