h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}


.map {
	height: 320px;
	width: 320px;
}

.tile {
	height: 20px;
	width: 20px;
	background-color: #E6E2AF;
	border: 1px solid black;
}
#bouton {
	    background-color: blue;
}

button {
	background-color : green;
}