h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}




.tile {
	height: 20px;
	width: 20px;
	border: 1px solid black;
}

.tile.occupied {
	background-color: red ;
}

.tile.unoccupied {
	background-color: #E6E2AF;
}