<div class="container" [routerLink]="newAccount">
<h1>Futur looser, tu dois t'inscrire !!!!</h1> 

<!-- 	<form #f="ngForm" (ngSubmit)="onSubmit(f.value)"> -->

		<div class="form-group">
			<label for="name">Comment te Prénomes-tu ?</label> <input id="name"
				type="text" class="form-control" required [(ngModel)]="user.name"
				name="name" #name="ngModel"> <span
				[hidden]="name.valid || name.untouched" class="text-danger">Vous
				devez entrer un prénom ! </span>
		</div>
		<br>

		<div id = "familyNameForm" class="form-group">
			<label for="familyname">Quel est ton Nom ? </label> 
			<input	id="familyname" type="text" class="form-control" required
				[(ngModel)]="user.familyname" name="familyName"
				#familyname="ngModel">
				<span
				[hidden]="familyname.valid || familyname.untouched" class="text-danger">Vous
				devez entrer un nom ! </span>
				
<!-- 			<div *ngIf="familyname.errors && (familyname.dirty || familyname.touched)" class="alert alert-danger"> -->
<!--    				 <div [hidden]="!familyname.errors.required">Vous devez entrer un nom !</div> -->

		</div>
		<br>
		
		<div class="form-group">
			<label for="pseudo">Pseudo, parce que tu ne voudras pas
				avouer jouer à ce jeu !!</label> <input id="pseudo" type="text"
				class="form-control" required [(ngModel)]="user.pseudo"
				required minlength="5" maxlength="8"
				name="pseudo" #pseudo="ngModel"> 
				<span [hidden]="pseudo.valid || pseudo.untouched" class="text-danger">Vous devez entrer un pseudo, il doit contenir entre 5 et 8 caractères</span>

		</div>
		<br>
		
		<div class="form-group">
			<label for="mail">Eh mad'moiselle t'as un 06 ? En fait, juste
				ton Mail suffira !!</label> <input id="mail" type="email"
				pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
				class="form-control" required [(ngModel)]="user.mail" name="mail"
				#mail="ngModel"> <span
				[hidden]="mail.valid || mail.untouched" class="text-danger">Vous
				devez entrer un mail !</span>
		</div>
		<br>
			<button type="button" class="btn btn-default">création du compte</button>
			
<button type="button" id= "bouton" class="btn btn-danger">Danger</button>
			
<!-- 	</Form> -->
</div>


<!-- 			valid:{{name.valid}} touched:{{name.touched}} pristine:{{name.pristine}} -->
